button, a {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #f8f8f8;
    background-color: limegreen;

    width: 110px;
    height: 35px;
    border: none;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 30px;

    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}
